@import "./style/windi-myself.scss";
@import "./style/image.scss";

.border {
  border: solid 1px red;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}
